@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700&subset=cyrillic');

body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {font-size: 180%; margin: 10px 0px; }
h2 {font-size: 160%; margin: 10px 0px; }
h3 {font-size: 140%; margin: 10px 0px; }
h6 {margin-top:7px; margin-bottom: 3px;}

.box {
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.btn-inline { display: inline-flex; float: right; }
.btn-inline .btn {
    margin-bottom: 5px;
    margin-left: 5px;
}

.content-header h1 {
    position: relative;
    top: 7px;
    margin-bottom: 10px;
}

.content-header h1 .btn {
    position: relative;
    top: 0px;
}

.color-red         { color: #dd4b39;}
.color-green       { color: #00a65a;}
.color-white       { color: #ffffff;}
.color-white:hover { color: #ccc;}

.hw-errors   { width: 60px; }
.ths         { width: 45px; }
.miner-temp  { width: 35px; position: relative; top: 1px; }
.chip-status { width: 27px; }
.freq        { width: 60px; }
.fan         { width: 73px; }
.sort        { width: 22px; }

.hw-errors, .ths, .miner-temp, .chip-status, .freq, .fan {
    font-size: 90%;
}

.label {
    position: relative;
    top: -2px;
}

/* TABLE */

#antMiners-table {
    box-shadow: 1px 1px 5px #eee;
    background: #fff;
    border-bottom: 1px solid #efefef;
    margin-top: 5px;
    margin-bottom: 0px;
}
#antMiners-table th { padding: 8px 2px 7px 5px !important; }
#antMiners-table td { padding: 7px 0px 7px 9px !important; }

.table thead th    { background-color: #437096 !important; color: #fff;}
.table>thead>tr>th { border-bottom: 1px solid #cfcfcf; }
.table tr td       { padding: 4px !important; }

.table-td-valign-middle td, .table-th-valign-middle th, .table-valign-middle td, .table-valign-middle th, .td-valign-middle {
    vertical-align: middle !important;
}

.table-responsive::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .2);
}
.table-responsive::-webkit-scrollbar
{
    background: #fff;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
}

/* WIDGETs */
.connectedSortable .bg-gray { background-color: #888 !important; color: #fff; }
.connectedSortable .box-title { color: #fff; font-size: 100%;}
.connectedSortable .box-title:hover { text-decoration: underline; }
.connectedSortable .box-header { padding: 6px; }
.connectedSortable .btn-box-tool { padding: 2px 3px; }
.connectedSortable .description-block,
.connectedSortable .row,
.connectedSortable .progress {
    margin-top: 0px;
    margin-bottom: 0px;
}

.miner-info .description-text {
    font-size: 120%;
}
.miner-info .description-text img {
    position: relative;
    top: -2px;
}
.miner-info .description-header {
    margin-top: 5px;
}

.navbar .title {
    color: #fff;
    position: absolute;
    margin-left: 35%;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.progress.vertical {
    position: relative;
    height: 20px !important;
    padding: 0px;
    margin: 0px 1px !important;
    top: 3px;
}

.login-logo i { color: #444;}
.login-logo p { font-size: 13px; text-transform: uppercase; }

.login-box, .register-box {
    margin: 11% auto;
    box-shadow: 1px 1px 15px #888;
}

.login-page, .register-page {
    background: url('/images/logon-wp.jpg');
}

.button-block { margin-bottom: 10px; }

.btn-group {
    display: inline-flex;
}

.info-box-icon i { padding: 10px;
    display: block;
    font-size: 64px;
    line-height: 1; }
.info-box-number { margin-top: 12px; font-size: 180%; }

ul.sidebar-menu li span {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 100%;
    padding-left: 5px;
}

ul.sidebar-menu li i {
    font-size: 135%;
    position: relative;
    top: 3px;
    left: -3px;
}

.box-header>.box-tools {
    top: 20px;
}

/* ---- COLORING ---- */

/* Основная плашка */
.skin-yellow .main-header .navbar {
    background-color: #437096; }
.skin-yellow .main-header .navbar .sidebar-toggle:hover {
    background-color: #497ba5; }

/* Фон под логотипом */
.skin-yellow .main-header .logo {
    background-color: #3b6284; }
.skin-yellow .main-header .logo:hover {
    background-color: #497ba5; }

/* Активная менюшка */
.skin-yellow .sidebar-menu>li:hover>a, .skin-yellow .sidebar-menu>li.active>a {
    border-left-color: #497ba5;
    background: #1e282c;
}

/* Плашка основного блока */
.box.box-primary { border-top-color: #497ba5; }

/* Основная кнопка */
.btn-primary {
    background-color: #497ba5 !important;
    border-color: #437096 !important;
}

/* Кнопки пагинации */
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #878787 !important;
    border-color: #7c7c7c !important;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #878787;
}

/* ---- COLORING END ---- */

.btn-white {
    background-color: #fff !important;
    border-color: #efefef !important;
}

.project-list {
    padding: 20px 10px 0px 10px;
}

.project-list label {
    color: #fff;
}

.sidebar-menu>li .label, .sidebar-menu>li .badge {
    font-size: 80%;
    padding: 6px 5px 4px 4px;
}

.bordered  td { border: 1px solid #eee;}
.no-border td { border: 0px !important;}
.no-margin { margin: 0px; }

.m-0  { margin: 0px !important; }
.m-5  { margin: 5px !important; }
.m-10 { margin: 10px !important; }
.m-15 { margin: 15px !important; }
.m-20 { margin: 20px !important; }
.m-25 { margin: 25px !important; }
.m-30 { margin: 30px !important; }
.m-35 { margin: 35px !important; }
.m-40 { margin: 40px !important; }

.m-t-5 { margin-top: 5px !important; }
.m-t-10 { margin-top: 10px !important; }
.m-t-15 { margin-top: 15px !important; }
.m-t-20 { margin-top: 20px !important; }
.m-t-25 { margin-top: 25px !important; }
.m-t-30 { margin-top: 30px !important; }
.m-t-35 { margin-top: 35px !important; }
.m-t-40 { margin-top: 40px !important; }
.m-t-60 { margin-top: 60px !important; }

.m-r-5  { margin-right: 5px !important; }
.m-r-10 { margin-right: 10px !important; }
.m-r-15 { margin-right: 15px !important; }
.m-r-20 { margin-right: 20px !important; }
.m-r-25 { margin-right: 25px !important; }
.m-r-30 { margin-right: 30px !important; }
.m-r-35 { margin-right: 35px !important; }
.m-r-40 { margin-right: 40px !important; }

.m-b-5  { margin-bottom: 5px !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-b-15 { margin-bottom: 15px !important; }
.m-b-20 { margin-bottom: 20px !important; }
.m-b-25 { margin-bottom: 25px !important; }
.m-b-30 { margin-bottom: 30px !important; }
.m-b-35 { margin-bottom: 35px !important; }
.m-b-40 { margin-bottom: 40px !important; }

.m-l-5  { margin-left: 5px !important; }
.m-l-10 { margin-left: 10px !important; }
.m-l-15 { margin-left: 15px !important; }
.m-l-20 { margin-left: 20px !important; }
.m-l-25 { margin-left: 25px !important; }
.m-l-30 { margin-left: 30px !important; }
.m-l-35 { margin-left: 35px !important; }
.m-l-40 { margin-left: 40px !important; }

.p-0  { padding: 0px !important; }
.p-5  { padding: 5px !important; }
.p-10 { padding: 10px !important; }
.p-15 { padding: 15px !important; }
.p-20 { padding: 20px !important; }
.p-25 { padding: 25px !important; }
.p-30 { padding: 30px !important; }
.p-35 { padding: 35px !important; }
.p-40 { padding: 40px !important; }

.p-t-5 { padding-top: 5px !important; }
.p-t-10 { padding-top: 10px !important; }
.p-t-15 { padding-top: 15px !important; }
.p-t-20 { padding-top: 20px !important; }
.p-t-25 { padding-top: 25px !important; }
.p-t-30 { padding-top: 30px !important; }
.p-t-35 { padding-top: 35px !important; }
.p-t-40 { padding-top: 40px !important; }

.p-r-5  { padding-right: 5px !important; }
.p-r-10 { padding-right: 10px !important; }
.p-r-15 { padding-right: 15px !important; }
.p-r-20 { padding-right: 20px !important; }
.p-r-25 { padding-right: 25px !important; }
.p-r-30 { padding-right: 30px !important; }
.p-r-35 { padding-right: 35px !important; }
.p-r-40 { padding-right: 40px !important; }

.p-b-5  { padding-bottom: 5px !important; }
.p-b-10 { padding-bottom: 10px !important; }
.p-b-15 { padding-bottom: 15px !important; }
.p-b-20 { padding-bottom: 20px !important; }
.p-b-25 { padding-bottom: 25px !important; }
.p-b-30 { padding-bottom: 30px !important; }
.p-b-35 { padding-bottom: 35px !important; }
.p-b-40 { padding-bottom: 40px !important; }

.p-l-5  { padding-left: 5px !important; }
.p-l-10 { padding-left: 10px !important; }
.p-l-15 { padding-left: 15px !important; }
.p-l-20 { padding-left: 20px !important; }
.p-l-25 { padding-left: 25px !important; }
.p-l-30 { padding-left: 30px !important; }
.p-l-35 { padding-left: 35px !important; }
.p-l-40 { padding-left: 40px !important; }

@media (min-width: 767px) {
    .navbar .title {
        display: none;
    }
}

@media (min-width: 1600px) {
    #antMiners-table {
        font-size: 16px;
    }

    .hw-errors   { width: 73px; }
    .ths         { width: 50px; }
    .miner-temp  { width: 35px; }
    .chip-status { width: 30px; }
    .freq        { width: 65px; }
    .fan         { width: 75px; }
    .sort        { width: 22px; }

}

@media (max-width: 1366px) {
    .login-box, .register-box {
        margin-top: 22% auto;
    }
}

@media (max-width: 1024px) {
    #antMiners-table      { margin: 0px;}
    #antMiners-table th   { padding: 6px 2px 5px 5px !important; font-size: 13px; }
    #antMiners-table td   { padding: 8px 2px 4px 5px !important; font-size: 12px; }
    #antMiners-table .btn { font-size: 11px; }
    .table-responsive     { margin-top: 5px;}
    .miner-temp           { width: 28px; }
    .miner-temp2          { width: 56px; }
    .login-box, .register-box {
        margin-top: 20% auto;
    }

}

@media (max-width: 768px) {
    .main-header .logo {
        display: none;
    }
    .navbar .title {
        display: inherit;
    }
    .main-sidebar, .left-side {
        padding-top: 50px;
    }
    .login-box, .register-box {
        margin-top: 42% auto;
    }
}

@media (max-width: 480px) {
    .content-header { padding-bottom: 15px; }
    .table-condensed { font-size: 82%;}
    .table-condensed .btn-sm { font-size: 70%; padding: 4px 6px; }

    .button-block { margin-top: 10px; margin-bottom: 10px; }
    .pagination>li>a, .pagination>li>span {
        padding: 3px 7px;
        line-height: 1.3857143;
        font-size: 90%;
    }
    .table thead th { font-size: 85%; }

    .login-box, .register-box {
        margin-top: 42% auto;
    }
}

@media (max-width: 320px) {
    .login-box, .register-box {
        margin-top: 28% auto;
    }
}
